figcaption{
    text-align: center;
}

.category-span{
    display: inline-block;
    border: 1px solid #4885FF; /* Border color */
    border-radius: 6px; /* Rounded corners */
    color: #4885FF; /* Text color */
    background: transparent; /* Transparent background */
    text-align: center; /* Center text horizontally */
    width: 80px;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

blockquote {
    /* background-color: aqua; */
    border-left: 1px solid #666;
    margin-left: 20px;
    padding-left: 8px;
}

h3 {
    color: #eeeeee;
    text-decoration: underline;
    font-weight: bold;
    font-size: 2.95em;
  }

